/* edit_post.css */

.edit-post-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-post-title {
    text-align: center;
    margin-bottom: 20px;
}

.edit-post-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-textarea,
.form-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-submit-btn {
    display: block;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.form-submit-btn:hover {
    background-color: #555;
}
