{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
{% endblock %}

{% block content %}
<h1>Admin Dashboard</h1>
<div class="dashboard-container">
    <div class="dashboard-section">
        <h2>Users</h2>
        <a href="{% url 'user_management' %}" class="btn">Manage Users</a>
    </div>
    <div class="dashboard-section">
        <h2>Posts</h2>
        <a href="{% url 'manage_posts' %}" class="btn">Manage Posts</a>
    </div>
    <div class="dashboard-section">
        <h2>Comments</h2>
        <a href="{% url 'manage_comments' %}" class="btn">Manage Comments</a>
    </div>
    <!-- <div class="dashboard-section">
        <h2>Reports</h2>
        <a href="#" class="btn">View Reports</a>
    </div> -->
</div>
{% endblock %}
