{% extends 'base.html' %}
{% load static %}


{% block styles %}<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">{% endblock %}

{% block content %}
<h1>Edit Profile</h1>
<div class="edit-profile-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" required>
        </div>
        <div class="form-group">
            <label for="bio">Bio</label>
            <textarea id="bio" name="bio" rows="4">{{ user.bio }}</textarea>
        </div>
        <div class="form-group">
            <label for="avatar">Avatar</label>
            <input type="file" id="avatar" name="avatar" accept="image/*">
        </div>
        <button type="submit" class="btn">Save Changes</button>
    </form>
</div>
{% endblock %}