{% extends 'base.html' %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">{% endblock %}

{% block content %}
<div class="post-container">
    <div class="post">
        <div class="post-header">
            <h3 class="post-creator">{{ post.user.username }}</h3>
            <div class="right-part-pst-header">
                <span class="post-creation-time">{{ post.created_at }}</span>
                <img src="{% static 'image/dots-vertical-svgrepo-com.svg' %}" alt="Dots Vertical SVG" class="dots-vertical-svg" id="dots-vertical-svg">

                <div class="dropdown-content" style="display: none;">
                    <a id="detail-{{ post.id }}" class="detail-link" href="{% url 'post_detail' post.id %}">Detail</a>
                    {% if post.user == request.user %}
                    <a id="edit-{{ post.id }}" class="edit-link" href="{% url 'edit_post' post.id %}">Edit</a>
                    <a id="delete-{{ post.id }}" class="delete-link" href="{% url 'delete_post' post.id %}">Delete</a>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="post-content">
            <p class="post-content-text">{{ post.content }}</p>
            {% if post.image %}
                <img class="post-content-image" src="{{ post.image.url }}" alt="Post Image">
            {% endif %}
        </div>
    </div>

    <!-- Форма для написання коментарів -->
    <div class="comment-form">
        <h3>Add a Comment</h3>
        <form method="post" action="{% url 'add_comment' post.id %}">
            {% csrf_token %}
            <textarea class="comment-textarea" name="content" rows="4" placeholder="Write your comment here"></textarea>
            <button type="submit" class="comment-btn">Submit</button>
        </form>
    </div>

    <!-- Виведення всіх коментарів для поста -->
    <div class="comments">
        <h3>Comments</h3>
        {% for comment in comments %}
        <div class="comment">
            <p class="comment-meta">Comment by {{ comment.user.username }} on {{ comment.created_at }}</p>            
            {% if edit_mode and comment.id == comment.id %}
                <!-- Форма для редагування коментаря -->
                <form method="post" action="{% url 'edit_comment' comment.id %}">
                    {% csrf_token %}
                    <textarea class="comment-textarea" name="content" rows="4">{{ comment.content }}</textarea>
                    <button type="submit" class="edit-comment-btn">Save</button>
                </form>
            {% else %}
                <p>{{ comment.content }}</p>
                
                <!-- Показувати кнопки редагування та видалення тільки для коментарів користувача -->
                {% if comment.user == request.user %}
                <div class="comment-actions">
                    <a href="{% url 'edit_comment' comment.id %}" class="edit-comment-btn">Edit</a>
                    <form method="post" action="{% url 'delete_comment' comment.id %}">
                        {% csrf_token %}
                        <button type="submit" class="delete-comment-btn">Delete</button>
                    </form>
                </div>
                {% endif %}
            {% endif %}
        </div>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}