{% extends 'base.html' %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}

{% block content %}
<h1>Profile</h1>
<div class="profile-container">
    <div class="profile-info">
        <div class="avatar">
            {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Avatar">
            {% else %}
            <img src="{% static 'image/default_avatar.png' %}" alt="Default Avatar">
            {% endif %}
        </div>
        <div class="user-details">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Bio:</strong> {{ user.bio }}</p>
        </div>
    </div>
    <a href="{% url 'edit_profile' %}" class="btn edit-profile-btn">Edit Profile</a>
</div>
{% endblock %}